<div class = 'container-fluid bg-white'>
  <h3 class='text-primary-darl'>Contact Histories</h1>

  <table class='table table-bordered table-hover'>
    <thead>
      <tr>
        
        <th scope='col'>Constituent</th>
        <th scope='col'>Type</th>
        <th scope='col'>Date</th>
        
      </tr>
    </thead>

    <tbody>
      <% @contact_histories.each do |contact_history| %>
        <tr>
          
          <td><%= contact_history.constituent.name %></td>
          <td><%= contact_history.contact_type %></td>
          <td><%= contact_history.date %></td>

        </tr>
      <% end %>
    </tbody>
  </table>


</div>