<script>
    $(document).ready(function(){
        $('#loginModal').modal('show');
    })
   
</script>



<div class='container-fluid'>



<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginlModalLabel">Log In</h5>
      </div>
      <div class="modal-body">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= render :partial => 'login_form' %>
  
      </div>

    </div>
  </div>
</div>
    
</div>