<div class='container-fluiid bg-white'>

  <h3  class="text-primary-dark">Donation Programs</h3>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope='col'>Program ID</th>
        <th scope='col'>Program Name</th>
      </tr>
    </thead>

    <tbody>
      <% @donation_programs.each do |donation_program| %>
        <tr>
          <td><%= donation_program.donation_program_id %></td>
          <td><%= donation_program.program %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



</div>