<style type="text/css">
#pieChart {    
	position:absolute;
	top:10px;
	left:10px;
	width:400px;
	height: 400px; 
}



#lineChart {    
	position:absolute;
	top:10px;
	left:410px;
	height: 150px;
}

#barChart {
	position:absolute;
	top:160px;
	left:410px;
	height: 250px;
}

.slice {
   font-size: 12pt;
   font-family: Verdana;
   fill: white; //svg specific - instead of color
   font-weight: bold;	
          } 
</style>

<div id='pieChart'></div>

<script type="text/javascript">