
	
	<br/>
	<div class="row">
		<div class="col-sm-4">
		
		<div class="card bg-off-white border-light">
			
			<div class="card-body text-center">
				<div>
					<a href="#" class="btn btn-outline-primary-dark btn-xl">Import Data</a>
				</div>
			</div>
		</div> 

		<br/>
		<br/>

		<div class="card bg-off-white border-light">
			<div class="card-body text-center">
				<div>
					<a href="#" class="btn btn-outline-primary-dark btn-lg">Reports</a>
				</div>
			</div>
		</div>

			<br/>
			<br/>
	</div>

		
	<div class="col-sm-4">
		<div class="card border-light bg-off-white">
			<div class='card-body text-center'>
				<div>
				<a href="#" class="btn btn-outline-primary-dark btn-lg">Manage My Account</a>
				</div>
			</div>
		</div>

		<br/>
		<br/>
		<div class="card border-light bg-off-white">
			<div class='card-body text-center'>
				<div>
					<a href="#" class="btn btn-outline-primary-dark btn-lg ">Add User</a>
				</div>
			</div>
		</div>
		</div>

		<div class="col-sm-4">
		<div class="card border-light bg-off-white">
			<div class='card-body text-center'>
				<div>
					<a href="#" class="btn btn-outline-primary-dark btn-lg">Resolve Duplicates</a>
				</div>
			</div>
		</div>
	</div>

		</div>