<div class = 'card bg-white progressBarWrapper mr-auto'>

    <div class="card-body">
        <h4>Donation Progress</h4>

        <br/>

        <label>Annual Appeal</label>
        <div class="progress"></div>
        <br/>
        
        <label>Childrens' Programs</label>
        <div class="progress"></div>
        <br/>
        
        <label>Commemorative Certificates</label>
        <div class="progress"></div>
        <br/>
        
        <label>Discovery Gardens</label>
        <div class="progress"></div>
        <br/>

        <label>Sustained Giving</label>
        <div class="progress"></div>   
    </div> 
</div>

<script type="text/javascript">
// Progress bars
var svg = d3.select('.progress')
    .append('svg')
    .attr('height', "2rem")
    .attr('width', 500);

var states = ['started', 'inProgress', 'completed'],
    segmentWidth = 0;
    currentState = 'started';

var colorScale = d3.scale.ordinal()
    .domain(states)
    .range(['yellow', 'orange', 'green']);

svg.append('rect')
    .attr('class', 'bg-rect')
    .attr('rx', 10)
    .attr('ry', 10)
    .attr('fill', 'gray')
    .attr('height', "2rem")
    .attr('width', function(){
        return segmentWidth * states.length;
    })
    .attr('x', 0);

var progress = svg.append('rect')
                .attr('class', 'progress-rect')
                .attr('fill', function(){
                    return colorScale(currentState);
                })
                .attr('height', "2.5rem")
                .attr('width', 0)
                .attr('rx', 10)
                .attr('ry', 10)
                .attr('x', 0);

progress.transition()
    .duration(1000)
    .attr('width', function(){
        var index = states.indexOf(currentState);
        return (index + 1) * segmentWidth;
    });

function moveProgressBar(state){
    progress.transition()
        .duration(1000)
        .attr('fill', function(){
            return colorScale(state);
        })
        .attr('width', function(){
            var index = states.indexOf(state);
            return (index + 1) * segmentWidth;
        });
}

</script>