<div class='nav'>
<div class='row d-flex d-md-block flex-nowrap wrapper mr-auto'>
	
	<nav id="sidebar">
		<div class='sidebar-header text-center'>
			<%= link_to image_tag("logos/gradient-logo.png", border: 0, height: 60), home_path%>  
		</div>

		<!-- Sidebar Links -->
		<ul class="navbar-nav mr-auto d-flex text-left pl-1">
			<li class='nav-item'>
				<%= link_to 'Home', home_path, class: 'nav-link'%>
			</li>

			<li class='nav-item'>
				<a href="#" class='nav-link'>
					<i class="glyphicon glyphicon-link"></i>
					Portfolio
				</a>
			</li>

			<li class='nav-item'>
				<a href="#" class='nav-link'>
					<i class="glyphicon glyphicon-sendlink"></i>
					Contact
				</a>
			</li
		</ul>


	</nav>


</div>
</div>