<div class='col-sm-4 bg-white card'>
    <h3>Upcoming Events</h3>
    <table class='table'>
        <tr>
            <th class='col'>Event Name</th>
            <th class='col'>Event DateTime</th>
            <th class='col'>RSVPed Yes</th>
        </tr>
        <tr>
            <td>Class</td>
            <td><%=Date.tomorrow.to_date%></td>
            <td>30</td>
        </tr>

        <tr>
            <td>Class</td>
            <td><%=Date.tomorrow.to_date%></td>
            <td>30</td>
        </tr>

        <tr>
            <td>Class</td>
            <td><%=Date.tomorrow.to_date%></td>
            <td>30</td>
        </tr>
    </table>
</div>