<nav class='navbar navbar-expand-lg bg-dark-gray top-nav'>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <h2 class='text-primary'>Dashboard</h2>

  </div>
</nav>
<div class='container-fluid'>
    
        <div class='d-flex'>

            <%= render :partial => 'partials/d3' %>
            <%= render :partial => 'partials/upcoming_events'%>
                

        </div>

        <div class='d-flex'>
            <%= render :partial => 'partials/progress_bars'%>    
        </div>
   

</div>



