<div class="container">
	<br/>
	<br/>
	
	<h1>My Dashboard</h1>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-sm">
			
			<div class="text-center">
				<div>
					<a href="#" class="btn btn-outline-primary-dark btn-lg">Import Data</a>
				</div>
			</div>

			<br/>
			<br/>

			<div class="text-center">
				<div>
					<a href="#" class="btn btn-outline-primary-dark btn-lg">Reports</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm">
			<div class='text-center'>
				<div>
				<a href="#" class="btn btn-outline-primary-dark btn-lg">Manage My Account</a>
				</div>
			</div>

			<br/>
			<br/>

			<div class='text-center'>
				<div>
					<a href="#" class="btn btn-outline-primary-dark btn-lg ">Add User</a>
				</div>
			</div>
		</div>

	</div>
</div>