<div class="container">
	<br/>
	<br/>
	
	<h1>My Dashboard</h1>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-sm">
			
			<div class="card text-center">
				<div class="card-body">
					<a href="#" class="btn btn-primary btn-block">Import Data</a>
				</div>
			</div>

			<br/>
			<br/>

			<div class="card text-center">
				<div class="card-body">
					<a href="#" class="btn btn-primary btn-block">Reports</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm">
			<div class='card text-center'>
				<div class="card-body">
				<a href="#" class="btn btn-primary btn-block">Manage My Account</a>
				</div>
			</div>

			<br/>
			<br/>

			<div class='card text-center'>
				<div class="card-body">
					<a href="#" class="btn btn-primary btn-block">Add User</a>
				</div>
			</div>
		</div>

	</div>
</div>