<div class='bg-dark-gray'>
    <h3 class='text-primary'>Generate Reports</h3>
</div>

<div class = 'container-fluid'>

<ul class="nav nav-tabs bg-white" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="functional-tab" data-toggle="tab" href="#functional" role="tab" aria-controls="functional" aria-selected="true">Functional</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="unclean-constituent-tab" data-toggle="tab" href="#unclean-constituent" role="tab" aria-controls="unclean-constituent" aria-selected="false">Unclean Constituent</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="unclean-address-tab" data-toggle="tab" href="#unclean-address" role="tab" aria-controls="unclean-address" aria-selected="false">Unclean Address</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="functional" role="tabpanel" aria-labelledby="functional-tab">
    <%= render :partial => 'functional_report_partial'%>
  </div>

  <div class="tab-pane" id="unclean-constituent" role="tabpanel" aria-labelledby="unclean-constituent-tab">
    <!-- Bad Constituent Reports -->
    <%= render :partial => 'unclean_constituent_report_partial' %>
  </div>
  <div class="tab-pane" id="unclean-address" role="tabpanel" aria-labelledby="unclean-address-tab">
    <%= render :partial => 'unclean_address_report_partial' %>
  </div>

</div>

</div>
<script>
  $(function () {
    $('#myTab li:last-child a').tab('show')
  })
</script>







