<div class='card bg-white show-constituent-contact-history mr-auto'>
    <h4 class='card-header'>Contact History</h4>
    <div class='card-body'>
    <% if @constituent.contact_histories.empty? %>
        <p> No records </p>
    <% else %>
        <table class='table table-sm table-hover table-bordered sortable'>
            <thead>
            <th scope="col">Contact Type</th>
            <th scope="col">Date</th>
            </thead>

            <tbody>
            <% @constituent.contact_histories.each do |ch| %>
                <tr>
                <td><%= ch.contact_type %></td>
                <td><%= ch.date.nil? ? 'N/A' : ch.date.strftime('%m/%d/%y') %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% end %>
    </div>
</div>